{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-start" style="height: 100vh;">
    <div class="card bg-dark text-light p-4" style="max-width: 400px;">
        <h1 class="card-title text-center">Iniciar Sesión</h1>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}
        <form action="/signin/" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="d-block text-center">Usuario</label>
              <input type="text" name="username" id="username" class="form-control" placeholder="Ingresa tu usuario">
            </div>
            <div class="mb-3">
              <label for="password1" class="d-block text-center">Contraseña</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="Ingresa tu contraseña">
            </div>
            <button class="btn btn-primary w-100 mt-3">Ingresar</button>
        </form>
    </div>
</div>
{% endblock %}